name: CI

on: 
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  release:
    types:
      - created
jobs:
  build:
    strategy:
      matrix:
        image: [
          "store/intersystems/iris-community:2019.4.0.383.0",
          "store/intersystems/irishealth-community:2019.4.0.383.0",
          "store/intersystems/iris-community:2020.1.0.215.0",
          "store/intersystems/irishealth-community:2020.1.0.215.0"
        ]
    runs-on: ubuntu-latest
    steps:  
      - uses: actions/checkout@master
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
      - name: if release
        if: github.event_name == 'release'
        run: |
          VERSION=${{ github.event.release.tag_name }}
          echo version - ${VERSION/v/}
          sed -i -E "s/<Version>(.*)<\/Version>/<Version>${VERSION/v/}<\/Version>/" module.xml
          cat module.xml
      - name: if release
        if: github.event_name == 'release' && matrix.image == 'store/intersystems/iris-community:2020.1.0.215.0'
        run: echo yes